
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100vh;
	min-height: 100dvh;
	display: grid;
	place-items: center;
	font-family: 'Noto Serif', serif;
}

#container {
	width: 100%;
	height: 100vh;
	height: 100lvh;
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: calc(100vh - 8rem) min-content;
	grid-gap: 2rem;
	justify-items: stretch;
	align-items: stretch;
}

main {
	display: grid;
	justify-items: center;
	align-items: center;
	position: relative;
}

main div#log {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: monospace;
	color: white;
	background: #000a;
	padding: 1rem;
	border-radius: 2rem;
	box-sizing: content-box;
	display: grid;
	grid-template-rows: 2rem auto;
	visibility: hidden;
}

main div#log button {
	appearance: none;
	background: transparent;
	border: none;
	cursor: pointer;
	grid-row: 1;
	grid-column: 2;
	justify-self: right;
}

main div#log button img {
	height: 2rem;
	width: 2rem;
}

main div#log span {
	grid-row: 2;
	grid-column: 1/3;
	overflow: scroll;
	overflow-x: scroll;
}

main svg {
	max-height: calc(100vh - 8rem);
	overflow: visible;
}

main svg path {
	stroke-linejoin: bevel;
}

nav {
	display: grid;
	grid-gap: 0.5rem;
	grid-auto-flow: column;
	justify-items: center;
	background: #fffe;
	padding: 1rem;
	margin: -1rem;
	border-radius: 2rem;
	justify-self: right;
	transform: translateX(calc(-50vw + 17.7rem));
}

nav span {
	padding: 0.05rem 1.5rem 0 1.5rem;
	font-size: 1.3rem;
}

nav a {
	color: black;
}

form {
	display: grid;
	grid-gap: 0.4rem;
	overflow: visible;
	grid-auto-flow: column;
}

form label {
	position: relative;
}

form button {
	appearance: none;
	background: transparent;
	border: none;
	position: relative;
	font-family: 'Noto Serif', serif;
}

form input[type="file"] {
	display: none;
}

form img {
	height: 2rem;
	cursor: pointer;
	display: block;
	position: relative;
}

form button .options {
	display: none;
}

form button.menu:focus .options,
form button.menu:focus-within .options,
form button.menu:active .options {
	min-width: 7rem;
	display: grid;
	position: absolute;
	text-align: left;
	font-size: 1.1rem;
	bottom: 0;
	left: 0;
	width: max-content;
	transform: translateY(0.2rem) translateX(-0.2rem);
	background: white;
	padding: 0.5rem 0.5rem 0.9rem 0.5rem;
	border: 0.1rem solid black;
	z-index: 2;

	grid-template-rows: 1fr 1rem;
	grid-row-gap: 0.8rem;
}

.options p {
	cursor: pointer;
}

.options span {
	padding: 0 0 0 2rem;
	font-size: 1rem;
	justify-self: left;
}

form button.menu:hover img,
form button.menu:focus-within img,
form button.menu:active img {
	z-index: 3;
}

.options input[type="range"] {
	width: 9rem;
}

@media( max-width: 40rem ) {
	nav {
		grid-auto-flow: row;
		justify-self: center;
		transform: none;
	}

	#container {
		grid-template-rows: calc(100vh - 12rem) min-content;
	}
}

main.help {
	min-height: 100vh;
	min-height: 100dvh;
	display: grid;
	padding: 2rem;
	text-align: center;
	max-width: 50rem;
	gap: 2rem;
}

main.help h1 {
	font-weight: normal;
}

main.help h2 {
	font-weight: normal;
}

main.help p {
	text-align: justify;
	line-height: 1.6rem;
}

main.help img {
	width: 40rem;
	max-width: 100%;
}

main.help p img {
	margin: 0;
	height: 0.4rem;
	width: 1.4rem;
	transform: scale(3) translateY(-0.06rem);
}

main.help p.caption {
	text-align: center;
	margin-top: -1rem;
}

main.help pre {
	text-align: left;
}

main.help a {
	display: inline;
}

