* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--text: black;
	--background: white;
	--background-transparent: #fffe;
}
body.dark-mode {
	--text: white;
	--background: black;
	--background-transparent: #000b;
}
body.dark-mode form img {
	filter: invert(1);
}
@media (prefers-color-scheme: dark) {
	body.help {
		--text: white;
		--background: black;
		--background-transparent: #000b;
	}
	main.help p img {
		filter: invert(1);
	}
}

body {
	width: 100%;
	min-height: 100vh;
	min-height: 100dvh;
	display: grid;
	place-items: center;
	font-family: 'Libre Baskerville', serif;
	color: var(--text);
	background: var(--background);
}

h1, h2, p, a, span, nav span a, pre {
	color: var(--text);
}

#container {
	width: 100%;
	height: 100vh;
	height: 100lvh;
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: calc(100vh - 8rem) min-content;
	grid-gap: 2rem;
	justify-items: stretch;
	align-items: stretch;
}

main {
	display: grid;
	justify-items: center;
	align-items: center;
	position: relative;
}

main div#log {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: monospace;
	color: white;
	background: #000a;
	padding: 1rem;
	border-radius: 2rem;
	box-sizing: content-box;
	display: grid;
	grid-template-rows: 2rem auto;
	visibility: hidden;
}

main div#log button {
	appearance: none;
	background: transparent;
	border: none;
	cursor: pointer;
	grid-row: 1;
	grid-column: 2;
	justify-self: right;
}

main div#log button img {
	height: 2rem;
	width: 2rem;
}

main div#log span {
	grid-row: 2;
	grid-column: 1/3;
	overflow: scroll;
	overflow-x: scroll;
}

main svg {
	max-height: calc(100vh - 8rem);
	overflow: visible;
}

main svg path {
	stroke-linejoin: bevel;
}

nav {
	display: grid;
	grid-gap: 0.5rem;
	grid-auto-flow: column;
	justify-items: center;
	background: var(--background-transparent);
	padding: 1rem;
	margin: -1rem;
	border-radius: 2rem;
	justify-self: right;
	transform: translateX(calc(-50vw + 17.9rem));
	z-index: 1;
}

nav span {
	padding: 0.22rem 1.5rem 0 1.5rem;
	font-size: 1.3rem;
}

nav a {
	color: black;
}

form {
	display: grid;
	grid-gap: 0.4rem;
	overflow: visible;
	grid-auto-flow: column;
}

form label {
	position: relative;
}

form button {
	appearance: none;
	background: transparent;
	border: none;
	position: relative;
	font-family: 'Libre Baskerville', serif;
}

form input[type="file"] {
	display: none;
}

form img {
	height: 2rem;
	cursor: pointer;
	display: block;
	position: relative;
}

form button .options {
	display: none;
}

form button.menu:focus .options,
form button.menu:focus-within .options,
form button.menu:active .options {
	min-width: 7rem;
	display: grid;
	position: absolute;
	text-align: left;
	font-size: 1.1rem;
	bottom: 0;
	left: 0;
	width: max-content;
	transform: translateY(0.35rem) translateX(-0.3rem);
	background: var(--background);
	padding: 0.6rem 0.6rem 0.95rem 0.6rem;
	border: 0.1rem solid var(--text);
	z-index: 2;

	grid-template-rows: 1fr 1rem;
	grid-row-gap: 0.8rem;
}

.options p {
	padding: 0.1rem 0.4rem 0 0;
	cursor: pointer;
}

.options span {
	padding: 0 0 0 2.2rem;
	font-size: 1rem;
	justify-self: left;
}

form button.menu:hover img,
form button.menu:focus-within img,
form button.menu:active img {
	z-index: 3;
}

.options input[type="range"] {
	width: 9rem;
}

@media( max-width: 50rem ) {
	nav {
		grid-auto-flow: row;
		justify-self: center;
		transform: none;
	}

	#container {
		grid-template-rows: calc(100vh - 12rem) min-content;
	}
}

main.help {
	min-height: 100vh;
	min-height: 100dvh;
	display: grid;
	padding: 2rem;
	max-width: 50rem;
	gap: 2rem;
	justify-items: left;
}

main.help h1 {
	font-weight: normal;
	font-size: 3.8rem;
}
main.help p + h1 {
	margin-top: 2rem;
}

main.help p {
	text-align: justify;
	line-height: 1.6rem;
}

main.help img {
	width: 40rem;
	max-width: 100%;
	justify-self: center;
}

main.help p img {
	margin: 0;
	height: 0.4rem;
	width: 1.4rem;
	transform: scale(3) translateY(-0.06rem);
}

main.help p.caption {
	justify-self: center;
	text-align: center;
	margin-top: -1rem;
}

main.help pre {
	text-align: left;
	font-size: 1.2rem;
}

main.help a {
	display: inline;
}

