
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100vh;
	min-height: 100dvh;
	display: grid;
	place-items: center;
}

#container {
	width: 100%;
	height: 100vh;
	height: 100lvh;
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: calc(100vh - 7rem) min-content;
	grid-gap: 1rem;
	justify-items: center;
	align-items: center;
}

svg {
	overflow: visible;
	max-height: 100%;
}

svg path {
	stroke-width: 0.003;
	stroke-linejoin: bevel;
	fill: transparent;
	stroke: black;
}

form button {
	appearance: none;
	background: transparent;
	border: none;
}
form input {
	display: none;
}

form img {
	height: 2rem;
	cursor: pointer;
}

