
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100vh;
	min-height: 100dvh;
	display: grid;
	place-items: center;
}

#container {
	width: 100%;
	min-height: 100vh;
	min-height: 100dvh;
	display: grid;
	grid-template-columns: min-content auto;
	grid-template-rows: 1fr;
	justify-items: center;
	align-items: center;
}

@media (max-aspect-ratio: 1/1) {
	#container {
		grid-template-columns: 1fr;
		grid-template-rows: min-content auto;
	}
}

svg {
	width: 100vmin;
	height: 100vmin;
	padding: 2rem;
	overflow: visible;
}

svg path {
	stroke-width: 0.003;
	stroke-linejoin: bevel;
}

